

html {
	width: 100%;
	min-height: 100%;
}

#ver1 {
	display: none;
	
}

#answer {
	display: none;
}

input[type=text], select {
	width: 8em;
	padding: 0.4em;
	margin: 1em;
	display: inline-block;
	border: 0.01em solid #ccc;
	border-radius: 1em;
	box-sizing: border-box;
	
}
.button {
	background-color:  rgba(0,0,0,0.5);
	border-radius: 1em;
	color: white;
	padding: 0.6em 1.2em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
	margin: 0.7em;
	
}

input[type=text] {
	background-color: rgba(0,0,0,0.1); 
	font-size: 1.5em; }
	

#panel, #panelx {
display: none; } 
 
#play {
	display: none;
}

}

#panelx {
display: none; 
}

#titlu {
	font-size: 2em;
	opacity: 0.7;
}

#change {
	font-size: 2em;
	color: rgba0,0,0,0.7);
}

#mySidenav{
	display:none;
}

#asdfx {
	display: block;
}

